.breakout-page-container{
    background: url(../assets/sky.jpg) no-repeat center center fixed;
    background-size: cover;
    display: 100vh;
    width: 100%;
  }
  
iframe {
  border: rgba(119, 0, 129, 0.829);
  
}

  body {
    padding: 0;
  }