.footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    font-family: 'Press Start 2P', cursive;
    color:white;
}
p {
    color:white;
}
.copyright{
    font-size:10px;
}
