.games-list-container{
  background: url(../assets/sky.jpg) no-repeat center center fixed;
  background-size: cover
}

#games-list {
        /* background-color: rgb(255, 255, 255); */
        height: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: [left-space] 4fr [game-column-1] 330px [centre-left-space] 1fr [game-column-2] 330px [centre-right-space] 1fr [game-column-3] 330px [right-space] 4fr;
        grid-template-rows: [top-space] 1fr [game-row-1] 330px [centre-space] 2fr [game-row-2] 330px [bottom-space] 1fr;
        grid-template-areas:
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . ";
}

#game-1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    background-image: url(../assets/snakegamecover.jpeg);
    border:4px solid gold;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#game-2 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background-image: url(../assets/RPS.jpg);
    border:4px solid gold;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#game-3 {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
}

#game-4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#game-5 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}

#game-6 {
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
}

.games-list-item {
    position: relative;
    display: inline;
  }

.games-list-image {
  border-radius: 66px;
  }

.game-list-overlay {
    border-radius: 66px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: grey;
    display: inline;
  }
  

  
  .games-list-item:hover .game-list-overlay {
    opacity: 0.9;
  }

  .text {
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
        font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
