.games-list-container{
  background: url(../assets/sky.jpg) no-repeat center center fixed;
  background-size: cover;
  display: 100vh;
  width: 100%;
}

body {
  padding: 0;
}

#games-list {
        background-color: rgba(255, 255, 255, 0);
        height: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: [left-space] 4fr [game-column-1] 330px [centre-left-space] 1fr [game-column-2] 330px [centre-right-space] 1fr [game-column-3] 330px [right-space] 4fr;
        grid-template-rows: [top-space] 1fr [game-row-1] 330px [centre-space] 2fr [game-row-2] 330px [bottom-space] 1fr;
        grid-template-areas:
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . "
            " . | . | . | . | . | . | . ";
}

#game-1 {
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    background-image: url(../assets/snakegamecover.jpeg);
    border:4px solid rgba(116, 8, 143, 0.52);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#game-2 {
    border-radius: 5px;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    background-image: url(../assets/RPS.jpg);
    border:4px solid rgba(116, 8, 143, 0.52);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#game-3 {
    border-radius: 5px;
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: black;
    background-image: url(../assets/BREAKOUT.jpeg);
    border:4px solid rgba(116, 8, 143, 0.52);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#game-4 {
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: black;
    background-image: url(../assets/pacmanimg.png);
    border:4px solid rgba(116, 8, 143, 0.52);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#game-5 {
  border-radius: 5px;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: black;
  background-image: url(../assets/spaceinvaders.png);
  border:4px solid rgba(116, 8, 143, 0.52);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

#game-6 {
  border-radius: 5px;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: black;
  background-image: url(../assets/frogger.jpeg);
  border:4px solid rgba(116, 8, 143, 0.52);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.games-list-item {
    position: relative;
    display: inline;
    padding: 20px;
    margin: 20px;
    /* border-radius: 66px; */
  }


.game-list-overlay {
    /* background-image: url(../assets/lock.png); */
    border-radius: 5px;
    background-repeat: no-repeat;
    align-items: center;
    position: absolute; 
    display: inline;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #38125c;
    box-shadow: #8a43cc;
    /* background-color: rgba(232, 162, 233, 0.92); */
    text-shadow: 
    0 0 12px rgba(202,228,225,0.92),
    0 0 60px rgba(98, 3, 117, 0.34),
    0 0 20px rgba(116, 8, 143, 0.52),
    0 0 40px rgba(207, 30, 242, 0.92),
    0 0 50px rgba(210, 83, 221, 0.78),
    0 0 80px rgba(232, 110, 236, 0.92);
    box-shadow: 0px 0px 6px 2px rgba(232, 162, 233, 0.92);
    color: rgb(255, 255, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 20px; 
    text-align: center;
    text-decoration: none;
  }
  

  p {
    text-align: center;
    margin-top: 40%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .games-list-item:hover .game-list-overlay {
    opacity: 0.9;
  }
