#jade-arcade {
    font-family: 'Astron Boy';
    color:white;
    text-align: center;
    font-size: 180px;
    margin: 0;
    padding: 100px;
    z-index: 1;
    text-shadow: 
    0 0 12px rgba(202,228,225,0.92),
    0 0 60px rgba(98, 3, 117, 0.34),
    0 0 20px rgba(116, 8, 143, 0.52),
    0 0 40px rgba(207, 30, 242, 0.92),
    0 0 50px rgba(210, 83, 221, 0.78),
    0 0 80px rgba(232, 110, 236, 0.92);

    
}

#start {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 60px;
    padding-top: 200px;
    z-index:0; 
}

#start-link{
    text-decoration: none;
    color:#00d9ff;
}

#background{
    width: 100vw;
    z-index: -2;
    position: absolute;
    display: block;
}

.container{
    /* background-image: url("../assets/game landscape pink and blue jpg.jpg");
    background-size: 100vw;
    height: 100vh;
    z-index: -2;
    background-repeat: no-repeat;
    object-fit: contain; */
}

body{font-size: 280%; padding: 5%}

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

blink{animation: blink 1s infinite;}

#blink{
    font-size:150px;
    margin:0;
    padding:0;
}