.navbar-list {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}

.active {
    display:inline;
    color:white;
    text-align: center;
    padding: 14px 16px;

}

.active a:hover {
    background-color:rgb(76, 184, 192);
  }

  /* .active {
    background-color: #4CAF50;
  } */