ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}

li {
    display:inline;
    color:white;
    text-align: center;
    padding: 14px 16px;

}

li a:hover {
    background-color:green;
  }

  /* .active {
    background-color: #4CAF50;
  } */