body {
    padding: 0;
}

.prs-container{
    background: url(../assets/sky.jpg) no-repeat center center fixed;
    background-size: cover;
    display: 100vh;
    width: 100%;
  }

  #header {
      text-align: center;
  }

  .game-form {
      text-align: center;
  }

  .prs-text {
      color: white;
      font-family: 'Press Start 2P', cursive;
  }

  .prs-button {
    color: white;
    font-family: 'Press Start 2P', cursive;
    background-color: #38125c;
    box-shadow: #8a43cc;    
    padding: 15px;
    font-size: 20px;
    text-shadow: 
    0 0 12px rgba(202,228,225,0.92),
    0 0 60px rgba(98, 3, 117, 0.34),
    0 0 20px rgba(116, 8, 143, 0.52),
    0 0 40px rgba(207, 30, 242, 0.92),
    0 0 50px rgba(210, 83, 221, 0.78),
    0 0 80px rgba(232, 110, 236, 0.92);
  }