<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>

        <label for="player_1">Player 1:</label>
        <input required type="text" name="player_1" id="player_1" placeholder="insert name here">
        <br>
    
        <label for="player_1_weapon">Weapon:</label>
        <input required type="text" name="player_1_weapon" id="player_1_weapon" placeholder="select your weapon">
        <br>
        <br>
    
        <label for="player_2_name">Player 2:</label>
        <input type="text" name="player_2" id="player_2" placeholder="insert name here">
        <br>
    
        <label for="player_2_weapon">Weapon:</label>
        <input type="text" name="player_2_weapon" id="player_2_weapon" placeholder="select your weapon">
        <br>
        <br>
    
        <label for="cpu_player">CPU Player?</label>
        <input type="checkbox" name="cpu_player?" id="cpu_player?"> <span><input type="submit" value="Play Game!"></span>
        <br>
        <br>
        
    </form>
</body>
</html>