#jade-arcade {
    font-family: 'Astron Boy';
    color:white;
    text-align: center;
    font-size: 180px;
    margin: 0;
    padding: 100px

    
}

#start {
    font-family: 'Press Start 2P', cursive;
    color:#00d9ff;
    text-align: center;
    font-size: 60px;
    padding-top: 200px

    
    
}

.container{
    background-image: url("../assets/game landscape pink and blue jpg.jpg");
    background-size: 100vw;
    height: 100vh;
    z-index: -2;
}