#jade-arcade {
    font-family: 'Astron Boy';
    color:white;
    text-align: center;
    font-size: 180px;
    margin: 0;
    padding: 100px;
    z-index: 1;
    
}

#start {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 60px;
    padding-top: 200px;
    z-index:0; 
}

#start-link{
    color:#00d9ff;
    pointer: cursor; 
}

#background{
    width: 100vw;
    z-index: -2;
    position: absolute;
}

.container{
    /* background-image: url("../assets/game landscape pink and blue jpg.jpg");
    background-size: 100vw;
    height: 100vh;
    z-index: -2;
    background-repeat: no-repeat;
    object-fit: contain; */
}